body {
    background-color: rgb(229, 231, 238);
    font-family: sans-serif;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
}
h2 {
    margin: 10px;
    font-size: 28px;
}

.city {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 30px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}
.city:last-child {
    border-bottom: none;
}

 .date {
    opacity: 0.7;
    margin: 10px;
 }
.time {
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 10px;
}

.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
    text-align: center;
  margin-top: 20px;
    color: rgba(0, 0, 0, 0.6);  
  font-size: 16px;
}
